@media  screen and (max-width: 1024px) {
    .sec-3-1 p {
        font-size: 6vw;
    }
    .sec-4-1 p {
        width: 25%;
        font-size: 2vw;
    }
    .card {
        height: 45.5vw;

    }
    .card .voucher {
        margin-bottom: 10px;
    }
    .card .voucher input {
        padding: 1rem 7.5rem 1rem .5rem;
    
    }
}
