*{
    margin: 0;
    padding: 0;
}

/* <!-- NỘI DUNG 9: MÌNH TRÀ SỮA NHÉ  --> */
.sec-9{
    width: 100%;
    background-color: aqua;
}
.sec-9 .ar-9{
    width: 90%;
    margin: 0 auto;
    background-color: brown;
}
.sec-9 .ar-9 .milktea-drink{
    display: flex;
}
.sec-9 .ar-9 .milktea-drink .milktea-img{
    width: calc(33.3333%);
}
.sec-9 .ar-9 .milktea-drink .milktea-img img{
    width: 10rem;
    height: 20rem;
    object-fit: cover;
}