/* BODY */
*{
    padding: 0;
    margin: 0;
}
/* HEADER CHA */
header{
    width: 100%;
    background-color: yellow;
}
/* FLEX TẤT CẢ GTRI */
header .main-header{
    width: 90%;
    display: flex;
    margin: 0 auto;
    background-color: #FF82B8;
}
/* FLEX LOGO VÀ THANH INPUT  */
header .main-header .FLEX-1{
    display: flex;
    align-items: center;
    width: 30%;
    background-color: green;
}
/* ĐẶT GTRI CHO THẺ CHA CỦA IMG  */
header .main-header .FLEX-1 .main-img{
    width: 30%;
    background-color:  red;
}
/* Đặt kích thước cho hình ảnh */
header .main-header .FLEX-1 .main-img img{
    width: 100%;
}

/* Thẻ cha của text thương hiệu và input  */
header .main-header .FLEX-1 .main-text-full{
    width: 70%;
    background-color: brown;
}

header .main-header .FLEX-1 .main-text-full .main-text p{
    color: #FF82B8;
    font-family: ClassiqueSaigon;
    font-size: 3.3vw;
}

header .main-header .FLEX-1 .main-text-full .main-input .fa-search{
    border: 1px solid yellow;
    padding: 0.2rem 0;
    /* display: flex; */
    /* align-items: center; */
    color: #9696FF;
    background-color: aliceblue;
}

header .main-header .FLEX-1 .main-text-full .main-input .fa-search input{
    background-color: transparent;
    border: none;
    outline: none;
}
header .main-header .FLEX-1 .main-text-full .main-input .fa-search input::placeholder{
    color: #9696FF;
    font-size: 0.5vw;
    font-family: SVN-Appleberry;
}


