div{
    text-align: center;
}
div img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    transition: all 0.6s ease-in-out;
    display: block;
}
div img:hover{
    transform: scale(1.2);
}